*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.nav{
    display: grid;
    grid-template-columns: 100px auto auto auto auto auto;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: rgb(44, 44, 44);
    height: 100px;
    line-height: 100px;
    color: #470e15;
    font-weight: bolder;
    font-size: 40px;
}

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

a:hover, a:active {
    /* color: #470E15; */
    color: #b42536;
    font-size: 30px;
}

.logo{
    width: 100px;
}
