*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    background-image: url(../media/84b7856f-5010-45c9-8f62-87ffefa12a17.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

main{
    width: 70%;
    margin: auto;
}

/* footer{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    
} */

h1{
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    margin-top: 100px;
    color: rgb(240, 240, 240);
    left: 1000px;
}

body { 
    overflow-x: hidden;
} 
main{
    margin-top: 50px;
    margin-bottom: 50px;
}

main img { 
    width: 350px;
    height: 350px;
    margin: 30px;
    border: 3px solid black;
} 
p { 
    font-family: 'Oswald', sans-serif;
    color: rgb(240, 240, 240);
    text-align: center;  
    font-size: 17px; 
}  

.content{
    position: absolute;
    width: 500px;
    left: 950px;
}

.nav{
    display: grid;
    grid-template-columns: 100px 280px 30% auto auto auto auto;
    grid-template-rows: 100px;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #100e03af;
    height: 100px;
    line-height: 100px;
    font-weight: bolder;
    font-size: 40px;
    z-index: 10;
    position: sticky;
    top: 0;
    border-bottom: 3px #3d050f solid;
}

.textLogo{
    line-height: 100px;
    color: #5A131B;
    font-weight: bolder;
    font-size: 35px;
    text-align: left;
}

a:link, a:visited {
    color: #d3d3d3;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

a:hover, a:active{
    transition: color 0.2s;
    font-size: 30px;
    color: #5A131B;
}



.logo{
    width: 100px;
}

