*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.nav{
    display: grid;
    grid-template-columns: 100px 280px 30% auto auto auto auto;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: rgb(88, 88, 88);
    height: 100px;
    line-height: 100px;
    color: #470e15;
    font-weight: bolder;
    font-size: 40px;
}

.textLogo{
    line-height: 100px;
    color: #470e15;
    font-weight: bolder;
    font-size: 40px;
    text-align: left;
}

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

a:hover, a:active {
    /* color: #470E15; */
    color: #b42536;
    font-size: 30px;
}

.logo{
    width: 100px;
}


/* Testimonials Style */
body{
    background-color: rgb(88, 88, 88);
}

h1{
    color: rgb(240, 240, 240);
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    letter-spacing: 1.2px;
}

.photos{
    height: 200px;
    width: 200px;
    margin: auto;
}

.Testimonials{
    display: grid;
    color: rgb(240, 240, 240);
    align-content: flex-start;
    grid-template-columns: auto auto auto auto;
}

.Testimonials img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Testimonials p{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 15px;
    text-align: center;
}

.stars{
    height: 50px;
    width: 300px;
    margin: auto;
}
