body{
    background-color: rgb(53, 53, 53);
}

.drake{
    height: 200px;
    width: 200px;
}

.leonardo{
    height: 200px;
    width: 280px;
}

div{
    display: grid;
}

p{
    font-family: Verdana;
    color: darkred;
    font-weight: 200px;
    
}

